        /* CSS   comment */
        
        h1{ color: blue;}
        .image{
            color: black;
            background-image: url("Image1.jpg");
            background-size:contain ;
            /* background-repeat: no-repeat; */
            background-position: center center;
            /* height: 200px; */
        }
        .blue{
            color: blue;
        }
        .uppercase{
            text-transform: uppercase;
        }
        #the-title{
            text-decoration: underline;
        }
        h2,h3 {
            color:red;
        }
        p strong i{
            color: peru;
            font-size: 50px;
        }
        /* Different colors types: named,hex, rgb/rgba */
        h4 {
            color: rgb(125,125,125);
            font-size: 50px;
        }
        h5 {
            color: rgba(0,0,0,0.5);
            font-size: 50px;
        }
        body{
            background-color: grey;

        }
        a{color:black}
        a:hover {
            color:blue
        }
        a:active {
            color:red
        }
        a:visited {
            color:yellow
        }
        h1.small{
            font-size: 15px ;
        }
        h1#intro{
            text-align: center;
        }
        h6.red-border{
            border-width: 15px;
            border-style: solid;
            border-color: red;
            /* border: 1px solid black; */
        }
        h6.rounded-border{
            border-width: 15px;
            border-style: solid;
            border-color: red;
            border-radius: 25px;

        }
        h6.circle-border{
            border-width: 15px;
            border-style: solid;
            border-color: red;
            /* perfect circle */
            border-radius: 50%; 
            width: 200px;
            height: 200px;
 
        }
        h6.leaf-border{
            border-width: 15px;
            border-style: solid;
            border-color: red;
            /*perfect leaf*/
            border-top-left-radius:5px ;
            border-top-right-radius:50% ;
            border-bottom-right-radius:5px ;
            border-bottom-left-radius:50% ;
            height: 200px;
            width: 200px;
            /*border-radius: 5px 50% 5px 50%*/
        }
        div.side-by-side{
            width:200px;
            height: 200px;
            display: inline-block;
            border: 1px solid rebeccapurple;

        }
        span.half-width-height{
            /* width: 50%; */
            width:200px;
            height: 200px;
            border: 1px solid red;
            display: block;
        }
        #leaf{
            width: 200px;
            height: 200px;
            border: 2px solid black;
            background-image: url("Image1.jpg");
            background-position: center center;
            background-size: cover;
            border-radius: 0 50% 0 50%;
            /* box-shadow: 10px 10px red; */
            /* box-shadow: 10px 10px 15px red; */
            /* box-shadow: 2px 2px 15px red; */
            /* box-shadow:  2px 2px inset #444444; */
            box-shadow:  6px 6px 15px inset #444444;
        }
        #box{
            width: 200px;
            height: 200px;
            background-color: rgba(0,0,0,0.5);
            /* opacity: 0.5; */
            color: white;
            text-align: center;
            border: 2px dashed blue;
            margin: 50px auto;
            padding: 10px 20px 15px 25px;
            display: block;
          
        }
        #inline {
            border: 2px solid black;
            display: inline-block;
            max-width: 500px;
        }
        img.floating-image{
            float: left;
            margin: 10px;
            border: 1px solid black;
            box-shadow: 0 0 5px black;
        }